:root{
    --page-width: 60%;
}

#homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar{
    display: flex;
    width: var(--page-width);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
#navbar-buttons{
    display: flex;
}
#navbar-title{
    display: flex;
    width: 100%;
}
#problem-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
#pagebutton{
    width: var(--page-width);
    align-items: left;
}
#contest{
    width: var(--page-width);
    align-items: left;
}

.rightaligned{
    text-align: right;
}

#problemrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

#problemtitle:hover{
    text-decoration: underline;
}

.rownum0{
    background-color: #202020;
}

#profile{
    padding: 4px;
    border: 0px solid #181818;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid #181818;
}

#profile:hover{
    border: 1px solid white;
}

table{
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
}

#hardcode-logo{
    color: #0b659f;
}
#profile-logo{
    height: 30px;
}
#profile-cont{
    display: flex;
    align-items: center;
}
.easy{
    color: #00b8a3;
}
.hard{
    color: #ff375f;
}
.medium{
    color: #ffc01e;
}

@media screen and (max-width: 600px){
    :root{
        --page-width: 100%;
    }
}
