#problempage{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}
#problempage > *{
    width: 100%;
}
#textarea{
    height: 400px;
    width: 50vw;
    background-color: #121212;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#statusbox{
    display: flex;
}

#statusbox >* {
    width: 100%;
    text-align: left;
}

#problemdescription{
    font-family: 'Courier New', Courier, monospace;
}
p{
    white-space-collapse: preserve-breaks;
}
